
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0;
    position: relative;
    perspective: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

a{
    text-decoration: none;
}



/* 
    Menu / small position fixed content 
*/

/* logo */
a.logo{
    display: block;
    font-family: Cellini-Medium, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color:white;
    width: 15.3vw;
    padding: 40px 0 0 16px;
    z-index: 20;
    position: absolute;
    top:0;
    left: 0;
}

.social{
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    margin: 0 0 76px 30px;
}
.social img{
    display: block;
    width: 18px;
}
.social .facebook img{
    width:10px ;
    margin: 22px 0;
}

/* 
    Main animation 
*/
div.home-animation-window{
    z-index: -2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0%;
    left:0;    
    display: flex;

}
    div.home-animation-window *{
        display: block;
        height: 100%;
        
    }
    div.home-animation-window .window-side{
        width: 15.5%;
    }
    div.home-animation-window .border{
        border-left: 1px solid #979797;
        position: relative;
    }
    div.home-animation-window .window-center{
        width: 13.8%;
        
    }
    div.home-animation-window .window-side.right{
        width: 15.5%;
        
    }
    
.nav{
    position: absolute; 
    margin-top: 40px;
    top:0;
    left: 2%;

}
    a.nav{
        color: white;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }

main{
    width: 69%;
    height: 80%;
    /* background-color: salmon; */
    opacity: 0;

    animation-name: content;
    animation-delay: 0.5s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    z-index: 100;
    position: relative;
    color: white;
}
    main h1{
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-weight: normal;
        font-size: 62px;
        line-height: 80px;
        letter-spacing: -1.1px;
        margin-bottom: 0;
    }
    main .mailing{
        
    }
        main .mailing span{
            font-family: Jost, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;

            font-weight: 300;
            margin-bottom: 60px;
        }
            main .mailing span a{
                color: white;
            }
        main .mailing .inputs{
            margin-top: 60px;
        }
            main .mailing .inputs .first-input{
                
            }
                main .mailing .inputs .first-input input{
                    background-color: transparent;
                    font-family: Jost, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 36px;
                    border: none;
                    color: white;
                    font-weight: 300;
                }
                main .mailing .inputs .first-input input::placeholder{
                    color: white;
                }
            main .mailing .inputs .second-input{
                margin-top: 45px;
                display: flex;
                flex-direction: row;
            }
                main .mailing .inputs .second-input span{
                    font-family: Jost, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    font-weight: 300;

                }
                main .mailing .inputs .second-input .text{
                    width: 70%;
                    height: 40%;
                    margin-left: 4px;


                    font-family: Jost, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    font-weight: 300;
                }
        main .mailing .send-button{
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
        }
            main .mailing .send-button span{
                font-family: Jost, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                font-weight: 300;
            }
            main .mailing .send-button span img{
                vertical-align: text-bottom;
                margin-left: 6vw;
                width: 32px;
                height: 32px;
            }
    main .validate{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    main .hide{
        display: none;
    }
        main .validate h2{
            font-family: Jost, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 47px;
            margin-bottom: 6px;
        }
        main .validate span{
            font-family: Jost, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            font-weight: 300;

        }



/* ANIMATION */

@keyframes content{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}